.vscode/settings.json
lane_detection/images/*
*.zip
*.7z
*.p
__pycache__
DaimlerBenchmark/*
pedestrian_detection/images/bus/*
pedestrian_detection/images/cars/*
pedestrian_detection/images/one/*
pedestrian_detection/images/test/*
pedestrian_detection/images/tunnel/*