.vscode/settings.json
lane_detection/images/*
*.zip
*.7z
*.p
*.onnx
*.h5
*.tflite
*.keras
*.pb
*.pth
__pycache__
DaimlerBenchmark/*
pedestrian_detection/images/bus/*
pedestrian_detection/images/cars/*
pedestrian_detection/images/one/*
pedestrian_detection/images/test/*
pedestrian_detection/images/tunnel/*
image_classification/dataset/*
image_classification/dataset_old/*
image_classification/scene_perception.code-workspace
image_classification/logs/*
image_classification/.checkpoints/*
image_classification/models_dir/*
datasets/*
latl/classification/ckpt_folder/*
events*
variables*
*.log
flat*
=0.2.0
req.txt
